---
import Layout from '../layouts/Layout.astro'
import Movies from '../components/Movies.astro'
---

<Layout title="Movies">
  <h1
    class="py-5 px-5 text-white text-5xl font-bold text-center fixed top-0 bg-black w-full bg-opacity-60 z-50"
    >Movies Project 🎥</h1
  >
  <div
    class="max-w-screen-md py-60 text-white grid grid-cols-1 px-5 lg:grid-cols-2 lg:px-0 mx-auto gap-20 justify-center"
  >
    <Movies />
  </div>
</Layout>
